@media (min-width: 1025px)  and (max-width: 1280px) {

    header {
        width: 100%;
        background-color: #000;
    }

    .top-line {
        max-height: 50px;
    }

    .logo-wrapper {
        width: 75%;
        float: left;
        padding-left: 1vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .logo {
        display: block;
        width: 40%;
        font-size: 1.7vw;
        color: gold;
        float: left;
        line-height: 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .slogan {
        display: block;
        color: #fff;
        float: right;
        width: 60%;
        height: 50px;
        font-size: 2vw;
        line-height: 25px;
        padding-left: 10px;
        border-left: 2px solid gold;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .phone-wrapper {
        width: 25%;
        float: right;
        text-align: center;
        /*-webkit-box-sizing: border-box;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
    }

    .phone {
        font-size: 2.5vw;
        text-align: center;
        line-height: 50px;
        color: #fff;
    }

    .answer {
        display: none;
        text-align: center;
        color: gold;
        font-size: 1.5vw;
    }

    .mobile-menu_toggler {
        display: none;
    }

    .mobile-menu_toggler span {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.5em;
        line-height: 50px;
        cursor: pointer;
        color: gold;
    }

    nav.top-menu {
        width: 100%;
        height: auto;
        border-top: 2px solid gold;
        padding-top: 5px;
        background-color: #000;
        opacity: 1;
        color: #fff;
    }

    .logo-menu {
        display: block;
    }

    ul.menu {
        display: block;
        opacity: 1;
    }

    .logo-menu, .toggler {
        display: none;
    }

    ul.menu {

        /*max-width: 1040px;*/
        /*margin: 0 auto;*/
    }

    ul.menu > li {
        list-style: none;
        background-color: transparent;
        width: calc(100% / 6);
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ul.menu li > a {
        display: block;
        padding: 5% 3%;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-size: 1.8vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    ul.menu li:hover a {
        box-shadow: inset 0 -2px 0 gold;
        color: #fffa5f;
    }

    .content-wrapper {
        /*margin: 1em 0;*/
    }

    .footer-wrapper {
        max-width: 1040px;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .footer-container {
        width: 100%;
        background-color: #4a4a4a;
        color: #fff;
    }

    .bg {
        background-color: darkcyan;
    }

    .bg_lg {
        background-color: #f4f4f4;
    }

    .bg_gray {
        background-color: #d9d9d9;
    }

    .bg-wrapper {
        background-image: url('img/content/bg.png');
        background-size: cover;
        max-width: 100vw;
    }

    .ordering {
        width: 100%;
        /*max-width: 1040px;*/
        margin: 0 auto;
        padding: 25px 0;
        color: #fff;
        font-family: sans-serif;
    }

    .order{
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .order h1 {
        padding: 0 0 2vh 5vh;
        line-height: 150%;
        text-transform: uppercase;
        font-size: 3vw;
        color: gold;
    }

    .order h3 {
        margin: 0 0 4vh 5vh;
        line-height: 100%;
        font-size: 2vw;
        overflow: hidden;
        font-style: italic;
        font-weight: 200;
    }

    .order > a {
        display: inline-block;
        padding: 10px 25px;
        background-color: #ffbf00;
        /*color: #fffacd;*/
        color: #004991;
        text-decoration: none;
        font-size: 2vw;
        font-weight: 400;
        margin-left: 5vh;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .order > a:hover {
        -webkit-box-shadow: 0 0 5px #efefef;
        -moz-box-shadow: 0 0 5px #efefef;
        box-shadow: 0 0 5px #efefef;
        /*color: #696969;*/
        color: #fff;
    }

    .about {
        width: 100%;
        padding-top: 1em;
        overflow: hidden;
    }

    .company {
        margin: 1em 0;
    }

    .description_img {
        float: left;
        width: 50%;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .description {
        width: 50%;
        float: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2vh 4vh 2vh 2vh;
    }

    .description h3 {
        margin: 3vh 0;
        line-height: 100%;
        font-size: 2vw;
        border-left: 2px solid gold;
        padding-left: 10px;
        color: #444444;
    }

    .description p {
        width: 90%;
        margin: 5vh 0;
        font-size: 1.3vw;
        line-height: 1.3;
        color: #444444;
    }

    .description p:last-child {
        margin-top: 2vh;
    }

    .operators {
        width:99%;
        margin: 2em auto;
        text-align: center;
    }

    /* .operators-wrapper {
         width:90%;
         display: inline;
         margin: 0 auto;
         !*text-align: center;*!
     }*/

    .operator {
        width: calc(100% / 3);
        float: left;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .meta-seo{
        display: none;
    }


    .img-wrapper {
        width: 100%;
        margin-bottom:2%;
    }

    .img-wrapper img {
        max-width: 100%;
    }

    span.operator_desc {
        display: inline-block;
        text-align: justify;
        font-size: 1em;
        line-height: 150%;
        margin: 2rem 2rem 3rem;
        color: #595959;
        /*margin-bottom: 1rem;*/
    }

    .operator > a {
        display: inline-block;
        text-decoration: none;
        color: #595959;
        width: 85%;
        padding: 1em 0;
        margin-bottom: 1rem;
        background-color: gold;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .operator a > h3 {
        font-size: 1.5vw;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .operator a:hover h3 {
        transform: scale(1.1);
        /*color: #000;*/
    }

    .questions {
        width: 95%;
        margin: 2em auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /*text-align: center;*/
    }

    .questions > h2 {
        margin-top: 2em;
        display: inline-block;
        font-size: 2vw;
        border-left: 2px solid gold;
        padding-left: 10px;
        text-transform: uppercase;
        color: #444444;
    }

    .question {
        margin-top: 2em;
        color: #595959;
        text-align: justify;
    }

    .question h3 {
        font-size: 2vw;
    }

    .question p {
        color: #595959;
        font-size: 1.5vw;
        padding: .5em 0;
    }

    .cons-order {
        padding-right: 2vw;
    }

    .cons-order > h3 {
        text-transform: uppercase;
        border-left: 3px solid gold;
        display: block;
        padding: .3em 0 .3em .5em;
        margin: .5em 0 1em;
        font-size: 1.3rem;
        color: #fffe07;
    }

    .cons-order p {
        line-height: 150%;
        font-size: 1.4vw;
        text-align: justify;
    }

    .cons-order p:first-child {
        margin-bottom: .3rem;
    }

    .cons-order form {
        margin-top: .5em;
        text-align: right;
    }

    .cons-order form > label {
        display: block;
        width: 100%;
        margin: 1em 0 .2em;
    }

    .cons-order form > input {
        display: block;
        width: 100%;
        font-size: 1.3vw;
        color: #fff;
        padding: .3em;
        background-color: #c6c6c6;
        border: 1px solid #fcff01;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 0 5px 0 5px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    label > span {
        display: none;
        font-size: .9em;
        opacity: .9;
        color: red;
    }

    .cons-order .button {
        width: 30%;
        margin: 2vw 0 2vw;
        cursor: pointer;
        border: none;
        background: gold;
        color: #000;
    }

    .cons-order .button:hover {
        background: #d3ad00;
        color: #ffffff;
    }

    .maps{
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
    }

    .maps iframe {
        width: 98%;
        height: 40vh;
        padding: 0;
        margin: 0;
    }

    .contacts p{
        max-width: 90%;
        font-size: .8rem;
        padding:1% 2% 0 ;
        line-height: 120%;

    }

    .cons-order{
        width: 50%;
        float: right;
        padding-right: 0;
    }

    .cons-order form > input{
        color: #0b7aff;
        font-weight: 600;
    }

    .cons-order form > input:focus {
        background-color: #c6c6c6;
        -webkit-box-shadow: 0 0 10px #fffe07;
        -moz-box-shadow: 0 0 10px #fffe07;
        box-shadow: 0 0 10px #fffe07;
    }

    .cons-order p{
        margin:2% 0;
    }


    .block {
        display: block;
    }

    .inline {
        display: inline-block;
    }

    .col-1 {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .col-2 {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .col-3 {
        /*display: block;*/
        width: 33.3333%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .col-4 {
        /*display: block;*/
        width: 25%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .font-14 {
        font-size: 14px;
        line-height: normal;
    }

    .center {
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .bord {
        border: 1px solid darkcyan;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
    }

    h2, h3 {
        font-family: 'Fira Sans', sans-serif;
    }

    p, span {
        font-family: 'Fira Sans', sans-serif;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
}